.about-container{
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    background-color: rgb(152, 102, 7);
}

.about-intro{
    width: 70%;
    padding-left: 10%;
    padding-top: 40vh;
    font-size: 3.5rem;
    color: white;
}

@media(max-width: 600px){
    .about-container{
        width: 100%;
        padding: 10vh 5%;
    }
    .about-intro{
        padding: 0 0;
        width: 90%;
        font-size: 1.7rem;
    }
}